# ----------------------------- 
#   Rapid workspace
# ----------------------------- 


# replications/
# data/cces-cdf

# Hide data but not the readme.
# This doesn't prevent real files from showing up in the folder.
# wanted: a way to hide symlinks but not real files.
data/*
!data/README.md

# set up a script to get data folders
# !data/sim-dgirt/
# link to data folder (for Boxr?): 
# https://uwmadison.box.com/s/4a33u8j5dnh1lq8o2bab4l7lo13jfdts

# but we need to pass things to SSC

# To-do:
# Rmd cache?
# - hide cache (don't need to write paper on multiple machines)
# - lengthy stuff is mostly just Bayes scripts; samples can be git-pushed
#   - Only run Bayes if there aren't already samples?

# ----------------------------- 
#   General repo rules        
# ----------------------------- 
.DS_Store

# always ignore literature
reading/






# ----------------------------- #
#          R things             #
# ----------------------------- #
# History files
.Rapp.history
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata


# ----------------------------- #
#          TeX things           #
# ----------------------------- #

# --  Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

# -- Intermediate documents:
*.dvi
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

# -- Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# -- Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# -- Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy
*.app
.Rproj.user

replications/

writing/_bookdown_files/

writing/02-model\.html

writing/03-positioning\.html

writing/_assets/ogg-template\.pdf
writing/figs
writing/cache
a0header.ps
histograms.pdf
two-parties.pdf
coefs.pdf
pos.pdf
pts.pdf
scatter.pdf
item-list.numbers
present/polmeth-2019/receipts
hcom_non-employee_reimbursement_form (1).pdf
writing/_book/libs/gitbook-2.6.7/css/fontawesome
writing/_book/libs/gitbook-2.6.7/css
writing/_book/libs/gitbook-2.6.7/js
writing/_book/libs/jquery-2.2.3
writing/_book/abstract.html
writing/_book/acknowledgments.html
writing/_book/ch-arg.html
writing/_book/ch-model.html
writing/_book/ch-positioning.html
writing/_book/ch-redistricting.html
writing/_book/ch-voting.html
writing/_book/colophon.html
writing/_book/group-irt-model.html
writing/_book/references.html
writing/_book/search_index.json
writing/02-0_model.html
writing/02-1_model-sim.html
writing/_book/figs
_book/*
!_book/MGD-thesis.pdf
_bookdown_files
thesis-redo.tex
thesis-redo.rds
01_arg_cache
01_arg_files
020_model_cache
020_model_files
021_model-sim_cache
021_model-sim_files
MGD-thesis.rds
render*.rds
*.utf8.md
tmp-pdfcrop-86118.tex
Barry-ch-2.pdf
replications (decrescenzo@wisc.edu)
tmp-pdfcrop-42213.tex
present/apw-2020/apw-pos-2020_cache
present/apw-2020/apw-pos-2020_files
present/apw-2020/libs
apw-pos-2020.html
xaringan-themer.css
present/apw-2020/easy-data
9999-bart.html
_assets-gitbook
9999-BNN.html
simple-net.rds
